<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7exqMl7YqHdxjI-cdMMtmqg-Rff-UDGk</string>
	<key>CLIENT_ID</key>
	<string>35128743824-01548ufnu3gdonvj0ilo5m5jfd47kjif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35128743824-01548ufnu3gdonvj0ilo5m5jfd47kjif</string>
	<key>GCM_SENDER_ID</key>
	<string>34714207655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatty01</string>
	<key>PROJECT_ID</key>
	<string>chatkiu-6ef67</string>
	<key>STORAGE_BUCKET</key>
	<string>chatkiu-6ef67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34714207655:ios:bd582929f567c8fe0c2282</string>
</dict>
</plist>